body {
    font-family: 'Fredoka One', sans-serif; /* Use a playful font */
    background: linear-gradient(to bottom, #87CEEB, #FFB6C1); /* Sky-like gradient */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    display: block;
    margin: 0 auto;
    background-color: #ffffff;
    border: 2px solid #000000;
}

#startButton, #restartButton {
   position: absolute;
    bottom: 20px; /* distance from bottom */
    left: 50%;
    transform: translateX(-50%); /* center horizontally */
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#startButton:hover, #restartButton:hover {
    background: #FF1493; /* Darker pink */
    transform: scale(1.1);
}

#game-container {
     position: relative;
    width: 800px;
    height: 300px;
    background-image: url('./images/game-field.jpg');
    background-size: cover;
    background-position: center;
    border: 2px solid #333;
    overflow: hidden;
}
