#game {
    width: 600px;
    height: 200px;
    border: 2px solid #333;
    background-color: #fff;
    margin: 40px auto;
    position: relative;
    overflow: hidden;
}

#character {
    width: 30px;
    height: 30px;
    background-color: crimson;
    position: absolute;
    bottom: 0;
    left: 50px;
}

#obstacle {
    width: 20px;
    height: 40px;
    background-color: green;
    position: absolute;
    bottom: 0;
    right: 0;
    animation: moveObstacle 1.5s linear infinite;
}
